.login {
    //จัดกลางหน้าจอ จาก google
    // position: fixed;
    // top: 60%;  
    // left: 50%;  
    // transform: translate(-50%, -50%);
    margin: 80px auto;
    width: 30%;
    padding: 1rem;
    // background: linear-gradient(180deg, rgba(242, 95, 41, 0.96) 4.69%, rgba(174, 10, 250, 0.96) 38.02%);
    padding: 3px;
    border-radius: 1.5em;

    form {
        height: 300px;
        width: 100%;
        background-color: #ffffff15;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.5em; // border-radiusคือความโค้งของกล่องที่เก็บ
        

        h1 {
            color: rgb(255, 200, 0);
            text-align: center;
            margin: 20px;
            font-size: 1.5rem;
        }

        .contentLogin {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .listContentLogin{
                display: flex;
                justify-content: center;
            }

            i {
                color: #24243e;
                font-size: 2rem;
                height: 40px;
                margin: 5px;
                border: 0.1px solid rgba(3, 3, 3, 0); // กำหนดเพื่อจัดให้เท่ากัน
                padding-right: 5px;
            }

            input::placeholder { //placeholder คือแสดงข้อความในกล่อง text
                opacity: 0.8;
                color:  #24243e;
            }

            input {
                height: 40px;
                width: 90%;
                padding-left: 1rem;
                border: none;
                color:rgb(0, 208, 255);
                background-color: #ffffff15;
                border-radius: 0.5em;
                // border: 0.1px solid rgba(3, 3, 3, 0); // กำหนดเพื่อจัดให้เท่ากัน
            }
        }
    }

    button {
        height: 50px;
        width: 35%;
        margin-top: 10px;
        margin-left: 2.5rem;
        background-color: #AE0AFA;
        color: white;
        border-radius: 0.5em;
        font-size: 1em;
        cursor: pointer;
        border: #AE0AFA;
    }

    button:hover {
        background-image: linear-gradient(to right, #F25F29,#CE3298, #AE0AFA);
        border-radius: 0.5em;
    }

    .underButton {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        h3 {
            margin: 10px;
            span {
                color: white;
                text-decoration: none; //text-decorationคือเอาเส้นใต้ออก
                font-size: 1rem;
                font-weight: 200;
            }
            span:hover {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .login {
        width: 40%;
    }
}
@media only screen and (max-width: 768px) {
    .login {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .login {
        width: 70%;
    }
}
@media only screen and (max-width: 320px) {
    .login {
        font-size: 12px;
        width: 90%;
        form {
            height: 260px;
            width: 100%;
        }
        button {
            width: 50%;
        }
    }
}