.register {
    //จัดกลางหน้าจอ จาก google
    // top: 50%;  
    // left: 50%;  
    // transform: translate(-50%, -50%);
    margin: 5rem auto;
    width: 30%;
    border: 0.1px solid rgba(0, 0, 0, 0);
    padding: 3px;
    border-radius: 1.5em;
    
    form {
        height: 480px;
        width: 100%;
        background-color: #ffffff15;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.5em; // border-radiusคือความโค้งของกล่องที่เก็บ

        h1 {
            color: white;
            text-align: center;
            margin: 20px;
            font-size: 1.3rem;
        }

        .contentRegister {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .listContentRegister{
                display: flex;
                justify-content: center;
            }

            i { 
                padding-top: 0.5em;
                font-size: 1.5em;
                height: 40px;
                margin-right: 5px;
                color: #24243e;
                border: 0.1px solid rgba(3, 3, 3, 0); // กำหนดเพื่อจัดให้เท่ากัน
            }

            input::placeholder { //placeholder คือแสดงข้อความในกล่อง text
                opacity: 0.8;
                color:  #24243e;
                // text-align: center;
            }

            input {
                height: 40px;
                width: 80%;
                margin: 5px;
                padding-left: 1rem;
                border: 0.1px solid rgba(3, 3, 3, 0); // กำหนดเพื่อจัดให้เท่ากัน
                background-color: #ffffff15;
                border: none;
                color: rgb(250, 250, 250);

            }

            .inputUserPhoto {
                padding: auto 5px;
            }
        }
    }

    button {
        height: 50px;
        width: 60%;
        background-color: #AE0AFA;
        color: white;
        border-radius: 0.5em;
        font-size: 1rem;
        cursor: pointer;
        border: #AE0AFA;
        margin-left: 1.5rem;
    }

    button:hover {
        background-image: linear-gradient(to right, #F25F29,#CE3298, #AE0AFA);
        border-radius: 0.5em;
    }

    .underRegister {
        display: flex;
        justify-content: center;
        width: 100%;
        h3 {
            margin: 10px;
            span {
                color: white;
                text-decoration: none; //text-decorationคือเอาเส้นใต้ออก
                font-size: 0.8em;
                font-weight: 100;
                margin-left: 1rem;
            }
            span:hover {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .register {
        width: 40%;
    }
}
@media only screen and (max-width: 768px) {
    .register {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .register {
        width: 70%;
    }
}
@media only screen and (max-width: 320px) {
    .register {
        font-size: 12px;
        width: 90%;
        height: 450px;
        form {
            height: 430px;
            width: 100%;
        }
    }
}
