.Useronline {
    background-color: #24243E;
    width: 15rem;
    border-radius:  0.9375rem;
    border: 1px solid;    
}

.list {
    color: white;
}
.Seemore {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}
