.Useronline {
    background-color: #2D2D4B; 
    width: 15rem;
    border-radius:  0.9375rem;
    
}

.list {
     color: white;
}




.Seemore {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    
}
