.DatePicker {
    box-sizing: border-box;
    border: outset 1.5px transparent; 
    border-radius: 10px;
    background-image: linear-gradient(#2D2D4B, #2D2D4B), 
    linear-gradient(to right, #F25F29,#DB4271,#CE3298, #AE0AFA);
    background-origin: border-box;
    background-clip: padding-box, border-box;
            
}

.DatePicker:hover {
    color:  #F25F29;
}
